apiVersion: v1
kind: Service
metadata:
  name: ms-llama31-multinode-llm-d-modelservice-decode
  namespace: llm-d-llama31-multinode
  labels:
    app: ms-llama31-multinode-llm-d-modelservice
    component: decode
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8000
    targetPort: 8000
    protocol: TCP
  selector:
    llm-d.ai/role: decode
    llm-d.ai/inferenceServing: "true"
